# LaTeX build artifacts (keep .tex and .pdf tracked)
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.bcf
*.run.xml
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
